PORT=3080
DATABASE_HOST=personal-app-database
DATABASE_NAME=personal_app_db
DATABASE_USERNAME=postgres
JWT_SECRET=secret
MODE=dev
POSTGRES_PASSWORD=123
USER_PASSWORD_ENCRYPTION_INITIALIZION_VECTOR_STRINGIFIED=acb123
USER_PASSWORD_ENCRYPTION_SECRET_PHRASE=acb123
REMOTE_API_KEY=my-api-key-in-remove-db-service
REMOTE_DATABASE_NAME=my-db-name-in-remove-db-service