PORT=3080
DATABASE_HOST=my.db-service-host.example.com
DATABASE_NAME=my-db-name-in-remove-db-service
DATABASE_USERNAME=my-username-in-remove-db-service
JWT_SECRET=secret
MODE=prod
POSTGRES_PASSWORD=my-db-password-in-remove-db-service
USER_PASSWORD_ENCRYPTION_INITIALIZION_VECTOR_STRINGIFIED=acb123
USER_PASSWORD_ENCRYPTION_SECRET_PHRASE=acb123
